@{
    Site site = new Site();
    site.logo = MixService.GetConfig<string>("SiteLogo", ViewBag.culture);
    site.title = MixService.GetConfig<string>("SiteTitle", ViewBag.culture);
    site.description = MixService.GetConfig<string>("SiteDescription", ViewBag.culture);
    site.coverImage = MixService.GetConfig<string>("SiteCoverImage", ViewBag.culture);
    site.url = MixService.GetConfig<string>(MixAppSettingKeywords.Domain);
}
@functions {
    public class Site{
        private string _logo; // field
        public string logo {
            get { return _logo; }
            set { _logo = value; }
        }

        private string _title; // field
        public string title {
            get { return _title; }
            set { _title = value; }
        }
        
        private string _description; // field
        public string description {
            get { return _description; }
            set { _description = value; }
        }

        private string _coverImage; // field
        public string coverImage {
            get { return _coverImage; }
            set { _coverImage = value; }
        }

        private string _url; // field
        public string url {
            get { return _url; }
            set { _url = value; }
        }
        
    }
}
<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            @if (@site.logo != String.Empty){
                <a class="site-nav-logo" href="@site.url"><img src="@site.logo" alt="@site.title" /></a>
            }else{
                <a class="site-nav-logo" href="@site.url">@site.title</a>
            }
            <div class="site-nav-content">
                {{#if @@site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @@site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{#if @@site.secondary_navigation}}
            {{navigation type="secondary"}}
        {{else}}
            <div class="social-links">
                {{#if @@site.facebook}}
                    <a class="social-link social-link-fb" href="{{facebook_url @@site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @@site.twitter}}
                    <a class="social-link social-link-tw" href="{{twitter_url @@site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
            </div>
            {{#unless @@labs.members}}
                <a class="rss-button" href="https://feedly.com/i/subscription/feed/@site.url/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            {{/unless}}
        {{/if}}

        {{#if @@labs.members}}
            {{#unless @@member}}
                <a class="subscribe-button" href="#subscribe">Subscribe</a>
            {{else}}
                <a class="subscribe-button" href="#/portal/account">Account</a>
            {{/unless}}
        {{/if}}
    </div>
</nav>
