@{
    var site = Model;

    //var SocialNavigation = MixCmsHelper.GetNavigation("social_navigation", ViewBag.Culture, Url);
}
<script>
   console.log('Navigation', @Json.Serialize(site.Navigation))
   console.log('SocialNavigation', @Json.Serialize(site.SocialNavigation))
   console.log('SecondaryNavigation', @Json.Serialize(site.SecondaryNavigation))
</script>
<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            @if (@site.Logo != String.Empty){
                <a class="site-nav-logo" href="@site.Url"><img src="@site.Logo" alt="@site.Title" /></a>
            }else{
                <a class="site-nav-logo" href="@site.Url">@site.Title</a>
            }
            <div class="site-nav-content">
                @if (site.Navigation != null){
                    <partial name="Navigation.cshtml" model="site.Navigation"/>
                }
                @if(site.Post != null){
                    <span class="nav-post-title @(site.Logo != String.Empty? "dash" : "")">@site.Post.Title</span>
                }
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        @if (site.SecondaryNavigation?.MenuItems != null && site.SecondaryNavigation?.MenuItems.Count > 0){
            <partial name="Navigation.cshtml" model="site.SecondaryNavigation"/>
        }else{
            @if (site.SocialNavigation != null){
                <div class="social-links">
                @foreach (var item in site.SocialNavigation.MenuItems)
                {
                    string activedClass = item.IsActive ? "nav-current" : string.Empty;
                    
                    <a class="social-link social-link-fb" href="@item.Uri" title="@item.Title" target="@item.Target" rel="noopener">@Html.Raw(item.Icon)</a>
                }
                </div>
            }
        }
        @if(site.IsAllowMembers)
        {
            @if(!User.Identity.IsAuthenticated){
                <a class="subscribe-button" href="#subscribe">Subscribe</a>
            }else{
                <a class="subscribe-button" href="/portal/my-profile">Account</a>
            }
        }
    </div>
</nav>
