@{
    var Site = Model;
}
<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            @if (@Site.Logo != String.Empty){
                <a class="site-nav-logo" href="@Site.Url"><img src="@Site.Logo" alt="@Site.Title" /></a>
            }else{
                <a class="site-nav-logo" href="@Site.Url">@Site.Title</a>
            }
            <div class="site-nav-content">
                @if (Site.Navigation != null){
                    <partial name="Navigation.cshtml" model="Site.Navigation"/>
                }
                @if(Site.Post != null){
                    <span class="nav-post-title @(Site.Logo != String.Empty? "dash" : "")">@Site.Post.Title</span>
                }
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        @if (Site.SecondaryNavigation?.MenuItems != null && Site.SecondaryNavigation?.MenuItems.Count > 0){
            <partial name="Navigation.cshtml" model="Site.SecondaryNavigation"/>
        }else{
            @if (Site.SocialNavigation != null){
                <div class="social-links">
                @foreach (var item in Site.SocialNavigation.MenuItems)
                {
                    string activedClass = item.IsActive ? "nav-current" : string.Empty;
                    
                    <a class="social-link social-link-fb" href="@item.Uri" title="@item.Title" target="@item.Target" rel="noopener">@Html.Raw(item.Icon)</a>
                }
                </div>
            }
        }
        @if(Site.IsAllowMembers)
        {
            @if(!User.Identity.IsAuthenticated){
                <a class="subscribe-button" href="#subscribe">Subscribe</a>
            }else{
                <a class="subscribe-button" href="/portal/my-profile">Account</a>
            }
        }
    </div>
</nav>
