@{
    
    var Site = Model;
}

<!-- The footer at the very bottom of the screen -->
<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="@Site.Url">@Site.Title</a> &copy; @(DateTime.Now.ToString("yyyy"))</section>
        <nav class="site-footer-nav">
            <a href="@Site.Url">Latest Posts</a>
            @foreach(var item in Site.SocialNavigation.MenuItems){
                <a href="@item.Uri" title="@item.Title" target="@item.Target" rel="noopener">@item.Title</a>
            }
            <a href="https://mixcore.org/" target="_blank" rel="noopener">Mixcore</a>
        </nav>
    </div>
</footer>
